@using MyAspNETWebsite.Models
@model List<MyAspNETWebsite.Models.Link>

@{
    ViewBag.Title = "Programozási oldalak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    Ezen az oldalon néhány érdekes programozási weboldal linkje található meg.
</p>

@if (Model.Count > 0)
{
    <ul>
        @foreach (Link link in Model)
        {
            <li class="link"><a href="@link.URL" target="_blank">@link.LinkName</a></li>
        }
    </ul>
}
