@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title</h2>

<address>
    Kossuth Lajos u.200.<br />
    Szentes, 6600<br />
    <abbr title="Telefon">Tel.:</abbr>
    30/123-4567
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:kapitany@lidercfeny.hu">kapitany@lidercfeny.hu</a><br />
</address>
