@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title</h2>

<p>
    Az alábbi elérhetőségek valamelyikén találhatsz meg engem:
</p>

<address>
    Kossuth Lajos u.200.<br />
    Szentes, 6600<br />
    <abbr title="Telefon">Tel.:</abbr>
    30/123-4567
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:kapitany@lidercfeny.hu">kapitany@lidercfeny.hu</a><br />
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d175142.46834591855!2d20.206646676031895!3d46.693874072848494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4744097e0ddb19cd%3A0xf4a53a3b38f73038!2sSzentes%2C+6600!5e0!3m2!1shu!2shu!4v1512134244155" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
