@{
    ViewBag.Title = "Török Viktor honlapja";
}

<div class="jumbotron">
    <h1>Török Viktor személyes honlapja</h1>
    <p class="lead">
        Ezen az oldalon az engem érdeklő dolgokkal kapcsolatban találhatsz információkat.
        Néhány személyes adat, gondolatok a mesterséges intelligenciáról és az általam készített, illetve
        karbantartott weboldalak linkjei szerepelnek az oldalon.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ki vagyok én?</h2>
        <p>
            Néhány személyes adat rólam.
        </p>
        <p>
            @Html.ActionLink("Tovább >>", "About", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mesterséges intelligencia</h2>
        <p>
            Mi az a mesterséges intelligencia? Egy rövid ismertető a lehetséges definíciókról.
        </p>
        <p>
            @Html.ActionLink("Tovább >>", "ArtificialIntelligence", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Linktár</h2>
        <p>
            Az általam készített, illetve karbantartott oldalakra mutató hivatkozásokat találod meg itt.
        </p>
        <p>
            @Html.ActionLink("Tovább >>", "Index", "Links", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>